@mixin inputs{
    border-color: transparent;
    height: 45px;
    width: 100%;
    background-color: $background-color-inputs;
    border-radius: 10px;
		margin-bottom: 15px;
		padding: 10px;
}
@mixin button{
		border-color: transparent;
		height: 50px;
		width: 100%;
		background-color: $primary-color;
		color: white;
		border-radius: 10px;
		margin-bottom: 15px;
}
@mixin logo {
	width: 55px;
	height: 55px;
}
@mixin google-logo{
	width: 32px;
	height: 32px;
}
@mixin kamban {
	width: 90%;
	height: 450px;
}