@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$font-letter: 'Varela Round', sans-serif;
$font-primary-color:#0000;
$font-secondary-color: #918E99;
$background-color-inputs:  #F2F0F7;
$primary-color: #735FEE;

